.search-input-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  width: 18rem;
  display: flex;
  justify-content: space-between;
}

.search-input-container input {
  height: 2rem;
  width: 80%;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0 1rem;
}

.search-input-container button {
  background-color: crimson;
  border: none;
  outline: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.search-input-container button:hover {
  opacity: 0.8;
}